astroid==2.3.3
click==7.1.1
cycler==0.10.0
Flask==1.1.2
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.14.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mlxtend==0.17.2
numpy==1.18.2
pandas==1.0.3
pylint==2.4.4
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.12.0
pytz==2019.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
Werkzeug==1.0.1
wrapt==1.11.2
